.cabecalho {
    position: relative;
}

.cabecalho-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-top__menu {
    width: 2em;
}

.cabecalho-top__title {
    color: black;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;

    & strong {
        color: var(--cor-secundaria);
        font-weight: 400;
    }
}

.cabecalho-top__emoji {
    width: 3em;
}

.cabecalho-navegacao {
    position: absolute;
    width: 100%;
    transform: translateY(-130%);
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    pointer-events: none;
}

.cabecalho-navegacao.ativo {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.cabecalho-navegacao__list {
    text-align: center;
    margin-top: 1.4em;
}

.navegacao__list--item {
    border: 1px solid;
    padding: 1em;
    margin: .5em 0;
    border-radius: 5px;
    cursor: pointer;
}

.cabecalho-navegacao__list--link, 
.cabecalho-top__link {
    text-decoration: none;
    color: inherit;
}

#hidden {
    display: none;
}

@media screen and (max-width: 428px) {
    .cabecalho-top__emoji {
        display: none;
    }
}

@media screen and (min-width: 1024px) {    
    .content-img__cubo {
        display: none;
    }

    .cabecalho {
        display: flex;
        gap: 5em;
    }

    .cabecalho-top__menu, 
    .cabecalho-top__emoji {
        display: none;
    }

    .cabecalho-top__link {
        font-size: 1.5em;
    }

    .cabecalho-navegacao {
        opacity: 1;
        transform: translateY(0);
        position: relative;
    }

    .cabecalho-navegacao__list {
        display: flex;
        justify-content: center;
        gap: 3em;
    }

    .navegacao__list--item {
        border: none;
        font-size: 2em;
        cursor: pointer;
        pointer-events: auto;
    }

    #hidden {
        display: block;
        width: 4em;
    }
}