.content {
    display: flex;
    margin-top: 4em;
}

.content-apresentacao {
    padding: 1em;
    margin-top: 2em;
}

.apresentacao__text--paragrafo {
    font-size: 1.3em;
    color: var(--branco-escuro);
    line-height: 1.2em;
}

.apresentacao__text--title {
    font-size: 3em;
    font-weight: 500;
    margin: .5em 0;
}

.apresentacao__text--buttton {
    bottom: .4em;
    margin-top: 2em;
    color: var(--cor-text);
    padding: .5em 2em;
    background-color: var(--cor-secundaria);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.content-links__social {
    display: flex;
    gap: 1em;
    position: relative;
    margin-top: 2em;
}

.content-links__social--item {
    width: 2em;
}

a {
    -webkit-tap-highlight-color: transparent;
}

.links__social--img {
    width: 2em;
}

.content-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15em;
    position: absolute;
    right: 0;
    margin-top: 2em;
}

.content-img__cubo {
    width: 3em;
}

.content-img__icon {
    width: 8em;
    margin-right: 5em;
    margin-top: 1em;
    filter: drop-shadow(var(--cor-secundaria) 0.5rem 0.5rem 10px);
}

.rodape {
    margin-top: 2em;
}

.rodape p {
    white-space: pre-line;
    line-height: 1.2em;
}

@media screen and (min-width: 590px) {
    .content-img__icon {
        margin-top: -4em;
    }
}

@media screen and (max-width: 428px) {
    .content {
        text-align: center;
    }
    
    .content-apresentacao__mobile {
        margin-top: 4em;
    }

    .apresentacao__text--title {
        font-size: 2.2em;
        line-height: 1.2em;
        text-align: justify;
    }

    .apresentacao__text--paragrafo {
        font-size: 1em;
        line-height: 1.4em;
    }

    .apresentacao__text--buttton {
        font-size: 16px;
        margin-top: 3em;
    }

    .content-links {
        display: flex;
        justify-content: center;
        margin-top: 5em;
    }

    .content-links__social {
        flex-direction: row;
    }
    
    .content-img {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .content-links__social {
        flex-direction: row;
    }

    .content-img__icon{
        width: 12em;
        margin-top: -6em;
        margin-right: 8em;
    }
}

@media screen and (min-width: 1024px) {
    .content {
        margin-top: 4em;
        gap: 8em;
    }
    
    .content-apresentacao {
        display: flex;
        flex-direction: row-reverse;
        gap: 5em;
        margin-top: 8em;
    }

    .apresentacao__text--paragrafo {
        font-size: 2.2em;
        opacity: 0.8;
    }

    .apresentacao__text--title {
        font-size: 3.8em;
    }

    .content-links__social--info {
        gap: 2em;
    }

    .content-links__social {
        flex-direction: column;
        gap: 2em;
    }

    .content-links__social--info {
        flex-direction: column;
    }

    .apresentacao__text--buttton {
        position: relative;
        margin-top: 3em;
        font-size: 1.5em;
    }

    .links__social--img {
        width: 3em;
    }

    .content-img {
        position: relative;
    }

    .content-img__icon {
        position: relative;
        margin: 0;
        width: 30em;
        filter: drop-shadow(var(--cor-secundaria) 1rem 1rem 10px);
    }
}