@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('css/header.css');
@import url('css/main.css');
@import url('css/footer.css');
@import url('css/sobre.css');
@import url('css/contato.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

:root {
    --cor-primaria: #1a1414;
    --cor-secundaria: #c14a27;
	--cor-text: white;
	--branco-escuro: #FFFFFFd9;
	--cor-qualitys: #2a1f1f;

	--font-principal: 'Poppins', sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	line-height: 1;
	background-color: var(--cor-primaria);
	font-family: var(--font-principal);
	color: var(--cor-text);
	padding: 2em;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.caixa {
	border: 6px solid transparent;
	background: linear-gradient(var(--cor-primaria), var(--cor-primaria)) padding-box,
                linear-gradient(to right, var(--cor-secundaria) 0%, #000) border-box;
    border-radius: 1em;
	padding: 2em;
	height: auto;
	width: fit-content;
}

@media screen and (min-width: 1024px) {
	.caixa {
		padding: 4em 6em;
		height: auto;
	}
}